@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("bulma.css");

.background_for_admin{
    background-image: linear-gradient(120deg, #4d674c 0%, #7a765d 50%, #8e5f59 100%);
}

.background_for_client{
    background-image: linear-gradient(120deg, #759373 0%, #6e9d84 50%, #60939f 100%);
}

.white-text{
    color: white;
}

section.info-tiles .films{
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16%;
    grid-column-gap: 5%;
    grid-row-gap: 5vh;
}

section.info-tiles{
    margin-top: 5%;
}

div.film{
    cursor: pointer;
    position: relative;
}

figure.effect-ruby p {
    position: absolute;
    display: table;
    top: 0;
    height: 300px;
    width: 100%;
    text-align: center;
    margin: 1em 0 0;
    padding: 3em;
    border: 1px solid #fff;
    opacity: 0;
    color: white;
    background-color: rgba(0,0,0,0.4);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0) scale(1.1);
    transform: translate3d(0,20px,0) scale(1.1);
}
figure.effect-ruby span{
    display: table-cell;
    vertical-align: middle;
}
div.film:hover div.card-content{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

div.film:hover img{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

div.film:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
}

#login-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#register-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.hero-body.body.background_for_client{
    align-items: stretch !important;
}

a.navbar-item{
    color: white;
}
.navbar {
    width: 100%;
    justify-content: center;
    margin-bottom: 0px;
}
.navbar-link {
    color: white;
}

a.navbar-link:hover {
    background-color: transparent !important;
    color: rgba(0,0,0,0.5);
}

a.navbar-link::after {
    border: 1px solid rgba(0,0,0,0.5);
    border-top-width: 0px;
    border-right-width: 0px;
}

a.navbar-link {
    background-color: transparent !important;
}

a.navbar-item:hover {
    color: rgba(0,0,0,0.5);
    background: none;
    cursor: pointer;
}

.navbar-item:hover {
    cursor: pointer;
}

.hero.nav{
    box-shadow: white;
}

.table {
    background-color: rgba(0,0,0,0);
    margin: 0px auto;
    margin-bottom: 1.5rem;
}

.table tbody{
    background-color: rgba(0,0,0,0.2);
    color: white;
}

.table tr:hover{
    background-color: rgba(0,0,0,0.5);
}

.table thead th{
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: rgba(0,196,167,1);
    /*color: rgb(255, 255, 255);*/
}

.label{
    color:white;
}

a.navbar-link:hover {
    background-color: transparent;
}

div.navbar-dropdown.is-boxed {
    background-color: rgba(72,72,72,0.98);
    margin-top: -6%;
}

.table th:first-child{
    border-top-left-radius: 15px;
}
.table th:last-child{
    border-top-right-radius: 15px;
}

.table tr:last-child td:last-child{
    border-bottom-right-radius: 15px;
}

.table tr:last-child td:first-child{
    border-bottom-left-radius: 15px;
}

.table th {
    border: 1px solid rgba(0,0,0,0);
}

.hero-body.body {
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: center;
}

.spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}


.success {
    display: none;
}

.fail {
    display: none;
}

.menu-list a {
    border-radius: 2px;
    color: #ffffff;
    display: block;
    padding: 0.5em 0.75em;
}

.menu-label {
    color: #000000;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}



.navbar-dropdown a.navbar-item:hover {
    background-color: whitesmoke;
    color: #0a0a0a;
}

.navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: rgba(0,0,0,0);

}

.navbar-dropdown.is-boxed {
    border-radius: 5px;
    border-top: none;
    -webkit-box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    display: block;
    opacity: 0;
    pointer-events: none;
    top: calc(100% + (-4px));
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition-duration: 86ms;
    transition-duration: 86ms;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
}

a {
    color: rgba(255, 250, 253, 0);
    cursor: pointer;
    text-decoration: none;
}