.background_for_login{
    background-image: linear-gradient(120deg, #4d674c 0%, #7a765d 50%, #8e5f59 100%);
}

.white-text{
    color: white;
}

a.nav-item{
    color: white;
}
.hero.nav{
    box-shadow: white;
}

.table {
    background-color: rgba(0,0,0,0);
}

.table tbody{
    background-color: rgba(0,0,0,0.2);
    color: white;
}
.table tr:hover{
    background-color: rgba(0,0,0,0.5);
}

.table thead th{
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    color: rgba(0,196,167,1);
}