@charset "utf-8";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("bulma.css");

.background_for_admin {
    background-image: linear-gradient(120deg, rgba(6, 6, 6, 0.13) 0%, rgba(97, 86, 79, 0.83) 50%, #310000 100%);
}

.background_for_client {
    /*background: linear-gradient(90deg, #759373 0%, #6e9d84 50%, #60939f 100%);*/
    background: linear-gradient(to right, #dc2424, #4a569d);

}

.white-text {
    color: white;
}

.info.desc {
    padding-left: 3%;
    margin-top: 3%;
}

.column.is-9 .films {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 5vh;
    justify-content: center;
}

.column.is-9.auto-grid {
    display: grid;
    border: 1px solid #000;
    grid-gap: 10px;
    grid-row-gap: 5vh;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 2em;
}

section.info-tiles .filmsProf {
    display: grid;
    grid-template-columns: 13% 13% 13% 13% 13% 13%;
    grid-column-gap: 4%;
    grid-row-gap: 4vh;
}

section.info-tiles .filmsProf.card {
    font-size: small;
}

section.info-tiles {
    margin-bottom: 7%;
}

div.film {
    cursor: pointer;
    position: relative;
}

/*div.card.effect-ruby a {*/
/*position: absolute;*/
/*!*display: table;*!*/
/*top: 0;*/
/*font-size: 24px;*/
/*!*height: 300px;*!*/
/*width: 100%;*/
/*text-align: center;*/
/*!*margin: 1em 0 0;*!*/
/*padding: 150% 0 150% 0;*/
/*!*border: 1px solid #fff;*!*/
/*opacity: 0;*/
/*color: white;*/
/*background-color: rgba(78, 78, 78, 0);*/
/*-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;*/
/*transition: opacity 0.35s, transform 0.35s;*/
/*-webkit-transform: translate3d(0, 20px, 0) scale(1.1);*/
/*transform: translate3d(0, 20px, 0) scale(1.1);*/
/*}*/

div.card.effect-ruby a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
}

/*figure.effect-ruby span{*/
/*display: table-cell;*/
/*vertical-align: middle;*/
/*}*/

/*div.film:hover div.card-content{*/
/*filter: blur(2px);*/
/*}*/

/*.card:hover{*/
/*filter: blur(1px);*/
/*background-color: rgba(0,0,0,0.4)*/
/*}*/

/*div.film:hover img{*/
/*filter: blur(2px);*/
/*background-color: rgba(0,0,0,0.4)*/
/*}*/

div.film:hover a {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}

#login-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#register-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.hero-body.body.background_for_client {
    align-items: stretch !important;
}

a.navbar-item {
    color: #4e4e4e;
}

/*.navbar {*/
/*width: 100%;*/
/*justify-content: center;*/
/*margin-bottom: 0px;*/
/*}*/

a.navbar-link:hover {
    background-color: transparent !important;
    color: rgba(0, 0, 0, 0.5);
}

a.navbar-link::after {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-width: 0px;
    border-right-width: 0px;
}

a.navbar-link {
    background-color: transparent !important;
}

a.navbar-item:hover {
    color: rgba(255, 255, 255, 1) !important;
    background: #4e4e4e;
    cursor: pointer;
}

.navbar-item:hover {
    cursor: pointer;
}

.hero.nav {
    box-shadow: white;
}

.table {
    background-color: rgba(0, 0, 0, 0);
    margin: 0px auto;
    margin-bottom: 1.5rem;
}

.table tbody {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

.table tr:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.table thead th {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 196, 167, 1);
    /*color: rgb(255, 255, 255);*/
}

.label {
    color: white;
}

a.navbar-link:hover {
    background-color: transparent;
}

div.navbar-dropdown.is-boxed {
    /*background-color: rgba(72,72,72,0.98);*/
    background-color: white;
    /*margin-top: -6%;*/
}

.table th:first-child {
    border-top-left-radius: 15px;
}

.table th:last-child {
    border-top-right-radius: 15px;
}

.table tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

.table tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

.table th {
    border: 1px solid rgba(0, 0, 0, 0);
}

.hero-body.body {
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: center;
}

.spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.success {
    display: none;
}

.fail {
    display: none;
}

.menu-list a {
    border-radius: 2px;
    color: #ffffff;
    display: block;
    /*padding: 0.5em 0.75em 0.5em 0.75em;*/
}

.menu-list a.is-current {
    color: rgba(255, 255, 255, 1);
    background: #4e4e4e;
}

.menu-label {
    color: rgba(0, 0, 0, 1);
    font-size: 0.90em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.navbar-dropdown a.navbar-item:focus {
    background-color: rgb(78, 78, 78);
    color: white;
}

.navbar-dropdown a.navbar-item:hover {
    background-color: rgb(78, 78, 78);
    color: white;
}

.navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: rgba(0, 0, 0, 0);

}

.navbar-dropdown.is-boxed {
    /* border-radius: 5px;*/
    border-radius: 0px;
    border-top: none;
    box-shadow: 0 8px 8px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0);
    display: block;
    opacity: 0;
    pointer-events: none;
    top: calc(100% + (-4px));
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition-duration: 86ms;
    transition-duration: 86ms;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
}

a {
    /*color: rgba(255, 255, 255, 1);*/
    color: #4e4e4e;
    cursor: pointer;
    text-decoration: none;
}

.centered {
    align-items: center !important;
    justify-content: center !important;
}

:focus {
    outline: 0;
}

#loading.is-centered {
    display: flex;
    align-self: center;
    left: 50%;
}

/*.pagination.is-centered {*/
/*margin-top: 10%;*/
/*position: absolute;*/
/*bottom: -60px;*/
/*width: 60%;*/
/*}*/

.pagination-link {
    background-color: #fff;
    border-color: rgba(78, 78, 78, 0.7);
}

.pagination-next {
    background-color: #fff;
    border-color: rgba(78, 78, 78, 0.7);
}

.pagination-previous {
    background-color: #fff;
    border-color: rgba(78, 78, 78, 0.7);
}

.pagination-link.is-current {
    background-color: #4e4e4e;
    border-color: #4e4e4e;
    color: #fff;
}

.footer {
    background-color: rgba(42, 124, 255, 0);
    padding: 1.5rem 1.5rem 1.5rem;
}

.hero-head {
    /*margin-bottom: 5%;*/
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.hero-head2 {
    /*margin-bottom: 5%;*/
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.image.is-percentage {
    width: 350px;
}

/*.media{*/
/*margin:5%;*/
/*}*/

.hero-body {
    padding: 0rem 1.5rem;
}

.button.is-dark {
    background-color: #4e4e4e;
    border-color: transparent;
    color: white;
}

hr {
    background-color: #dbdbdb;
    border: none;
    display: block;
    height: 1px;
    margin: 1.0rem 0;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: black;
    font-weight: 400;
    line-height: 1.125;
}

@-webkit-keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

@keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.07);
}

h6.rating i {
    color: #e09952;
    margin-right: 0.3%;
    margin-left: 0.3%;
}

.columns {
    margin-top: 0;
}

.VueSearchOnPage {
    padding-bottom: 0.75rem;
}

.container.vue {
    margin-bottom: 1.5rem;
    /*margin-top: 8vh;*/
    justify-content: center;
}

.counter:hover {
    cursor: default;
}

aside.menu {
    position: fixed;
}

.column.is-2 {
    margin-top: 6vh;
}

#loading {
    position: fixed;
}

#errorBox {
    margin-top: 10%;
    display: flex;
    height: 60px;
}

form.subtitle.profile input {
    text-align: center;
}

a.navbar-item.home:hover > img {
    filter: invert(98%);
}

.is-divider, .is-divider-vertical {
    display: block;
    position: relative
}

.is-divider[data-content]::after, .is-divider-vertical[data-content]::after {
    background: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 71%);
    content: attr(data-content);
    display: inline-block;
    font-size: 0.5rem;
    padding: .2rem .5rem;
    -webkit-transform: translateY(-1.1rem);
    -ms-transform: translateY(-1.1rem);
    transform: translateY(-1.1rem);
    text-align: center;
}

.is-divider {
    border-top: .1rem solid hsl(0, 0%, 86%);
    height: .1rem;
    margin: 2rem 0;
    text-align: center;
}

.is-divider-vertical {
    display: block;
    /*padding: 1.5rem 0 1.5rem 0;*/
    position: relative;
}

.is-divider-vertical::before {
    border-left: .1rem solid hsl(0, 0%, 86%);
    bottom: 0rem;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 0rem;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.is-divider-vertical[data-content]::after {
    left: 50%;
    padding: .4rem 0;
    position: relative;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.navbar-item.has-dropdown.centered {
    width: -moz-available;
    width: -webkit-fill-available;
}

#filmInfo {
    width: -moz-available;
    width: -webkit-fill-available;
}

#filmInfo .message-body {
    text-align: center;
}

#bookmark .fa-bookmark {
    display: none;
    color: #e09952;
}

#bookmark.is-bookmarked .fa-bookmark {
    display: inline-block;
}

#bookmark.is-bookmarked .fa-bookmark-o {
    display: none;
}

#bookmark:hover .fa-bookmark {
    display: inline-block;
}

#bookmark:hover .fa-bookmark-o {
    display: none;
}

.is-deleting {
    filter: blur(3px);
}

.is-blurred {
    filter: blur(3px);
}

a.panel-block:hover .fa-heart {
    color: #ff5257;
}

a.panel-block:hover .fa-bookmark {
    color: #e09952;
}

a.panel-block.is-active .fa-heart {
    color: #ff5257;
}

a.panel-block.is-active#liked {
    border-bottom-color: #ff5257;
    border-left-color: #dbdbdb;
}

a.panel-block.is-active .fa-bookmark {
    color: #e09952;
}

a.panel-block.is-active#bookmarks {
    border-bottom-color: #e09952;
    border-left-color: #dbdbdb;
}

a.panel-block.is-active#profile {
    border-bottom-color: #3273dc;
    border-left-color: #dbdbdb;
}

a.panel-block.is-active#profile .fa-user-circle-o {
    color: #3273dc;
}

a.panel-block:hover .fa-user-circle-o {
    color: #3273dc;
}

.pagination-link.is-current {
    color: #fff !important;
}

.is-fullsized {
    width: -moz-available;
    width: -webkit-fill-available;
    height: -moz-available;
    height: -webkit-fill-available;
}

#edit {
    margin-right: 1rem;
}

.navbar.is-transparent a.navbar-item:hover, .navbar.is-transparent a.navbar-item.is-active,
.navbar.is-transparent a.navbar-link:hover,
.navbar.is-transparent a.navbar-link.is-active {
    background-color: #4e4e4e !important;
}

.navbar.is-transparent .navbar-item.has-dropdown.is-active .navbar-link, .navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:hover .navbar-link {
    background-color: transparent !important;
}

.navbar-burger {
    color: #4e4e4e;
    height: 3.25rem;
}

.navbar-burger:hover {
    background-color: #4e4e4e;
    color: white;
}

.tile.is-parent {
    padding: 3.75rem;
}

div.control .radio {
    display: inline-flex;
    align-items: center;
}

label.radio > input {
    visibility: hidden;
    position: absolute;
}

label.radio > input + img {
    cursor: pointer;
    border: 2px solid transparent;
}

label.radio > input:checked + figure {
    border: 2px solid #209cee;
}

#profileImg:hover img {
    filter: brightness(70%) blur(3px);
}

#profileImg:hover a {
    color: white !important;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
    display: block !important;
    position: absolute;
    top: 30%;
    left: 30%;
    right: 30%;
}

@media all and (min-width: 1408px) {
    aside.menu {
        width: 214px;
    }

    .is-mobile {
        display: none !important;
    }
}

@media all and (min-width: 1216px) and (max-width: 1407px) {
    aside.menu {
        width: 182px;
    }

    .is-mobile {
        display: none !important;
    }
}

@media all and (max-width: 1216px) {

    .screen-top {
        margin-top: 10ch;
    }

    .is-mobile {
        display: none !important;
    }
}

@media all and (min-width: 1024px) and (max-width: 1215px) {
    aside.menu {
        width: 150px;
    }

    .column.is-9 .films {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .is-mobile {
        display: none !important;
    }
}

@media all and (max-width: 1023px) {
    .bd-is-clipped-touch {
        overflow-y: hidden !important;
        position: relative;
    }
}

@media all and (min-width: 769px) and (max-width: 1023px) {
    .box {
        width: 295px;
    }

    .column.is-9 .films {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .is-desktop {
        display: none !important;
    }

    .is-mobile {
        display: block !important;
    }

    .columns {
        margin-right: 0;
    }

    .navbar-item {
        text-align: center;
    }

    .navbar-item.has-dropdown.centered {
        display: flex;
    }

    .navbar-item.has-dropdown.is-hoverable:hover {
        color: rgba(255, 255, 255, 1);
        background-color: #4e4e4e;
    }

    .navbar-item.has-dropdown.is-hoverable a.navbar-link:hover {
        color: rgba(255, 255, 255, 1);
    }

    .grow:hover {
        transform: scale(1);
    }

    .column {
        padding: 0.75rem 0 0 0.75rem;
    }

    .pagination {
        margin: 0;
    }

    /*.navbar-burger span{*/
    /*width:48px;*/
    /*left: calc(50% - 24px);*/
    /*}*/
    /*.navbar-burger {*/
    /*cursor: pointer;*/
    /*display: block;*/
    /*height: 5rem;*/
    /*position: relative;*/
    /*width: 5rem;*/
    /*margin-left: auto;*/
    /*}*/
    /*.navbar-burger span:nth-child(1) {*/
    /*top: calc(50% - 14px);*/
    /*}*/
    /*.navbar-burger span:nth-child(2) {*/
    /*top: calc(50% - 1px);*/
    /*}*/
    /*.navbar-burger span:nth-child(3) {*/
    /*top: calc(50% + 12px);*/
    /*}*/
    /*.navbar-burger {*/
    /*color: #4e4e4e;*/
    /*height: 5rem;*/
    /*}*/

}

@media all and (max-width: 768px) {
    .column.is-9 .films {
        grid-template-columns: 1fr 1fr;
        margin: 0 0.9rem;
    }

    .is-desktop {
        display: none !important;
    }

    .is-mobile {
        display: block !important;
    }

    .columns {
        margin-right: 0;
    }

    .navbar-item {
        text-align: center;
    }

    .navbar-item.has-dropdown.centered {
        display: flex;
    }

    .navbar-item.has-dropdown.is-hoverable:hover {
        color: rgba(255, 255, 255, 1);
        background-color: #4e4e4e;
    }

    .navbar-item.has-dropdown.is-hoverable a.navbar-link:hover {
        color: rgba(255, 255, 255, 1);
    }

    .grow:hover {
        transform: scale(1);
    }

    .column {
        padding: 0.75rem 0 0 0.75rem;
    }

    .pagination {
        margin: 0;
    }
}
